<!-- Container to hold message box and input text field -->
<div class="container" style="display: flex; flex-direction: column;">
    <!-- Container to hold messageBox array -->
    <div class="message-box border p-3 mb-3" style="height: 200px; overflow-y: auto;">
        <!-- Create angular for loop to iterate messageBox array and print one message -->
        <div *ngFor="let message of messageBox">
            {{message}}
        </div>
    </div>

    <!-- Container to hold input text field and send button -->
     <div class="input-text">
        <!-- Bind input text to inputMessage, add a placeholder message -->
        <input type="text" [(ngModel)]="inputMessage" placeholder="Send a message"/>
        <!-- Bind button to sendMessage method -->
        <button (click)="sendMessage()">send</button>
     </div>

</div>
