<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Landing Page</title>
    
    
</head>
<body>
    <div class="container">
        <h1>Discord</h1>
        <h3>Build a Simple Web App with Express & Angular</h3>
        <h5>The below message is fetched from the express backend</h5>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <label>User Name</label>
            <input type="text" name="username" id="username" formControlName="username" required />
            <label>Email</label>
            <input type="text" name="email" id="email" formControlName="email" required />
            <label>Phone Number</label>
            <input type="text" name="phonenumber" id="phonenumber" formControlName="phonenumber" required />
            <input type="submit" value="Submit" />
        </form>
    </div>
    <!-- foreach loop to display each user -->
    @for (user of users; track $index) {
    <div>
        
        {{user.username}}
        |
        {{user.email}}
        |
        {{user.phonenumber}}
        <button [routerLink]="'/Details/' + user._id" >View</button>
        <button [routerLink]="'/Edit/' + user._id">Update</button>
        &nbsp;
        <button (click)="deleteClicked(user)">Delete</button>
    </div>
}
</body>
</html>