<!-- Log in formgroup -->
<div class="loginAccount-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <label>Email</label>
      <input type="text" name="login-email" id="email" formControlName="email" required />
      
      <label>Password</label>
      <input type="text" name="login-password" id="password" formControlName="password" required />

      <button type="submit">Log In</button>
      <button type="button" (click)="createAccountRouter()">Don't have an account?</button>


  </form>
</div>
  
