<h5>Edit User</h5>

<button [routerLink]="'/'">Back to Home</button>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label>User Name</label>
    <input type="text" name="username" id="username" formControlName="username" required />

    <label>Email</label>
    <input type="text" name="email" id="email" formControlName="email" required />

    <label>Phone Number</label>
    <input type="text" name="phonenumber" id="phonenumber" formControlName="phonenumber" required />
    
    <input type="submit" value="Submit" />
</form>